@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

FASTCARS

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5a5b5a;
$secondary_color: #90c226;
$tertiary_color: #3c3c3b;
$background: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Bebas Regular';
	src: url(fonts/BEBAS__.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	border-top: 5px solid $secondary_color;
	.moduletable_to1 {
		padding: 10px 0;
		/*height: 50px;*/
		z-index: 10;
	}
	.moduletable_to2 {
		margin: 20px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				ul.menu {
					background-color: transparent;
					li {
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $secondary_color;
							}
						}
						a {
							padding: 0 7px;
							font-size: 11px;
							color: #000;
							text-transform: uppercase;
							&:hover {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

.banner_1,
.banner_2,
.banner_3,
.banner_4,
.banner_5,
.banner_6,
.banner_7,
.banner_8 {
	background: {
		position: top;
		repeat: no-repeat;
		size: 100%;
	}
}

.banner_1 {
	background-image: url(banner_bg_01.png);
}

.banner_2 {
	background-image: url(banner_bg_02.png);
}

.banner_3 {
	background-image: url(banner_bg_03.png);
}

.banner_4 {
	background-image: url(banner_bg_04.png);
}

.banner_5 {
	background-image: url(banner_bg_05.png);
}

.banner_6 {
	background-image: url(banner_bg_06.png);
}

.banner_7 {
	background-image: url(banner_bg_07.png);
}

.banner_8 {
	background-image: url(banner_bg_08.png);
}

/* Content */

.content {
	padding: 30px 0;
	h2 {
		font-size: 20px;
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 15px 0;
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	background-color: $tertiary_color;
	.moduletable_b21 {
		font: {
			family: 'Bebas Regular';
			size: 20px;
		}
		color: #fff;
		letter-spacing: 2px;
		p {
			margin: 0;
			span {
				color: $secondary_color;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	.moduletable_b31 {
		.part-1 {
			text-align: right;
		}
		.part-2 {
			padding: 10px;
			ul {
				margin: 0;
				li {
					list-style: none;
					/*&:before {
						background: {
							image: url(li_bg.png);
							position: center;
							repeat: no-repeat;
						}
						color: transparent;
						content: '----';
					}*/
				}
			}
		}
		.part-3 {
			padding: 10px;
			ul {
				margin: 0;
				li {
					list-style: none;
					/*&:after {
						background: {
							image: url(li_bg.png);
							position: center;
							repeat: no-repeat;
						}
						color: transparent;
						content: '----';
					}*/
				}
			}
		}
		.part-4 {
			text-align: left;
		}
		.checkpoint {
			width: 70px;
			height: 70px;
			margin-top: -35px;
			margin-left: 450px;
			background: {
				image: url(icon_checkpoint.png);
				position: center;
				repeat: no-repeat;
			}
			position: absolute;
			z-index: 100;
		}
	}
}

/* Block 4 */

.block_4 {
	padding-bottom: 25px;
	background-color: $background;
	h3 {
		width: 130px;
		margin: auto;
		background-color: $secondary_color;
		font-size: 22px;
		color: #fff;
	}
	.tcowl-wrap {
		padding: 10px;
		background-color: #fff;
	}
	.moduletable_b41 {
		padding: 10px;
		background-color: #fff;
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.city {
	width: 100%;
	height: 70px;
	background: {
		color: $background;
		image: url(city_bg.png);
		position: center;
		repeat: repeat-x;
	}
}

.bottom {
	padding-top: 40px;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		font-size: 20px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0 40px 0;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			height: inherit;
		}
	}

	/* Block 3 */

	.moduletable_b31 {
		.checkpoint {
			display: none;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}